.home{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px;
  gap: 10px;
  button{
    width: 100%;
    background: white;
    color: black;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    &:hover{
      background: black;
    color: white;
    } 
  }
}