.header{
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  button{
    background: white;
    color: black;
    padding: 5px 20px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    &:hover{
      background: black;
    color: white;
    }
    &:disabled{
      opacity: 0.5;
      &:hover{
        background: white;
    color: black;
      }
    } 
  }
}